<mat-spinner *ngIf="preloader"></mat-spinner>
<div fxFlex fxLayout="column" fxLayoutGap="100px" class="ancho-contenedor">
    <mat-card class="ancho-contenedor">
        <mat-card-header>
            <mat-card-title>Suscripciones</mat-card-title>
            <mat-card-subtitle style="margin-top: 30px;">
                <button id="linkCrearSuscripcion" mat-raised-button color="primary" aria-label="Nuevo"
                    (click)="abrirModalDeCrear();">Nuevo
                    <mat-icon>add</mat-icon>
                </button>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div style="width: 100%; overflow-x: auto;">
                <table mat-table [dataSource]="dataSource " class="mat-elevation-z8 tabla" id="tablaListarSuscripcion">
                    <ng-container matColumnDef="idSuscripcion">
                        <th mat-header-cell *matHeaderCellDef> ID SUSCRIPCIÓN </th>
                        <td mat-cell *matCellDef="let element"> {{element.idSuscripcion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="idCliente">
                        <th mat-header-cell *matHeaderCellDef> ID CLIENTE </th>
                        <td mat-cell *matCellDef="let element"> {{element.idCliente}} </td>
                    </ng-container>

                    <ng-container matColumnDef="valorSuscripcion">
                        <th mat-header-cell *matHeaderCellDef> VALOR SUSCRIPCIÓN </th>
                        <td mat-cell *matCellDef="let element"> {{element.valorSuscripcion | currency: 'COL'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tipoSuscripcion">
                        <th mat-header-cell *matHeaderCellDef> TIPO SUSCRIPCIÓN </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.tipoSuscripcion ==
                            'XXX'?'M':'Q'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fechaRegistro">
                        <th mat-header-cell *matHeaderCellDef> FECHA REGISTRO </th>
                        <td mat-cell *matCellDef="let element">
                            <a class="color-fecha">
                                {{element.fechaRegistro | date:'dd/MM/yyyy'}}
                            </a>

                        </td>
                    </ng-container>
                    <ng-container matColumnDef="opcion">
                        <th mat-header-cell *matHeaderCellDef> OPCIOÓN </th>
                        <td mat-cell *matCellDef="let element" class="centrar">
                            <button mat-mini-fab color="primary" aria-label="Editar información"
                                (click)="abrirModalDeCrear(element);">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>