.centrar{
    text-align: center;
}

.ancho-contenedor{
    min-width: 30em;
    max-width: 55em;
    width: 55em;
}

.tabla{
    width: 100%;
    text-align: center;
}

.color-fecha{
    border: 1px solid #2E4053;
    border-radius: 1%;
    background-color: #2C3E50;
    padding: 5%;
    color: white;
}