.centrar{
    text-align: center;
}

.ancho-contenedor{
    min-width: 50%;
    max-width: 100%;
}

.color-fecha{
    border: 1px solid #2E4053;
    border-radius: 1%;
    background-color: #2C3E50;
    padding: 5%;
    color: white;
    
}